<!DOCTYPE html>
<html>
<head>

	
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
	
					
	<!-- Loading Proxima nova font -->
	

			
	
		<title>Убойные комплексы 4.0</title>

	


	

	














































































</head>
<body class="gc-user-logined">




	<div id="gcAccountUserMenu"></div>

		
	

<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		<div class="page-full-block">
			
    			<div class="main-page-block medium-width">

        <div class="container" style="position: relative">
			<div>
				
				<div class="logo gc-account-logo" style="margin-bottom: 20px">
					<a href="/" class="logo-link">
													<span class="logo-text">Online Fitness</span>
											</a>

				</div>

				
			</div>

							<div class="breadcrumbs">
<a href="/teach/control">Тренинги</a> → <a href="/teach/control/stream/view/id/187244461">Убойные челленджи</a>
</div>			
	        
				<div class="page-header">

											<div class="page-actions">
														</div>
					
					
											<h1>Убойные комплексы 4.0</h1>
					
					
					<div class="content-menu">
																	</div>

				</div>
			



							
















































































	
	<div class="xdget-root">
			<div class="xdget-block xdget-training xdget-common-container " id="xdget491253" data-xdget-id="491253">
		

			

	
	<div class="xdget-block xdget-lessonList " id="xdget879931" data-xdget-id="879931">
		


						
<form action="/teach/control/stream/saveLessonsOrder/id/187244465" method="post">
	<div class="lesson-sort-block alert alert-warning" style="display: none;">
		Перетаскивайте уроки мышкой чтобы добиться нужного Вам порядка		<br>
				<div style="margin-top: 10px">
			<button class="btn btn-primary btn-save-sort"><span class="glyphicon glyphicon-save"></span> Сохранить порядок</button>
			<button class="btn btn-cancel-sort btn-link">Отменить</button>
		</div>
	</div>
	
	
						
						<ul class="lesson-list" id="lessonList9878">
															
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666399">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666399">
						<input type="hidden" name="orderIds[]" value="145666399">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/3356e7680daeb4ee8b0b7d3d40bf7a33.png/s/300x300/a/36490/sc/285') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666399">Понедельник. Тренировка №1.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666400">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666400">
						<input type="hidden" name="orderIds[]" value="145666400">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/82d240e94fd585ca0d4199dbc4da84be.png/s/300x300/a/36490/sc/294') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666400">Вторник. Тренировка №2.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666401">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666401">
						<input type="hidden" name="orderIds[]" value="145666401">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666401">Среда. День отдыха от нагрузок на первой неделе!</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666402">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666402">
						<input type="hidden" name="orderIds[]" value="145666402">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/006a2a2e5cc842bda246c697fff478cb.png/s/300x300/a/36490/sc/288') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666402">Четверг. Тренировка №3.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666403">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666403">
						<input type="hidden" name="orderIds[]" value="145666403">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/9ae25ac753cacc55597e7968c4b9b4d0.png/s/300x300/a/36490/sc/257') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666403">Пятница. Тренировка №4.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666404">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666404">
						<input type="hidden" name="orderIds[]" value="145666404">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/c007e734307dafdbd3afdcfdeb70052e.png/s/300x300/a/36490/sc/417') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666404">Суббота. Тренировка №5.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666405">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666405">
						<input type="hidden" name="orderIds[]" value="145666405">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666405">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666406">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666406">
						<input type="hidden" name="orderIds[]" value="145666406">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/c382e3e961c226250f3f09b07b572c89.png/s/300x300/a/36490/sc/54') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666406">Понедельник. Тренировка №6.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666407">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666407">
						<input type="hidden" name="orderIds[]" value="145666407">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/6b653e4299f79ecd640aa2984b59cc0b.png/s/300x300/a/36490/sc/208') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666407">Вторник. Тренировка №7.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666408">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666408">
						<input type="hidden" name="orderIds[]" value="145666408">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/8dce69b7060c46c37a770bd48289b614.png/s/300x300/a/36490/sc/109') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666408">Среда. Тренировка №8.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666409">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666409">
						<input type="hidden" name="orderIds[]" value="145666409">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/7142f2632cbd13924b4c9a02fcb51c89.png/s/300x300/a/36490/sc/135') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666409">Четверг. Тренировка №9.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666410">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666410">
						<input type="hidden" name="orderIds[]" value="145666410">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/fe8ed3fc086c408394291b448e9e3c7f.png/s/300x300/a/36490/sc/217') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666410">Пятница. Тренировка №10.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666411">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666411">
						<input type="hidden" name="orderIds[]" value="145666411">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/68f69521cff2978fc568e75a6a5313fc.png/s/300x300/a/36490/sc/174') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666411">Суббота. Тренировка №11.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666412">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666412">
						<input type="hidden" name="orderIds[]" value="145666412">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666412">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666413">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666413">
						<input type="hidden" name="orderIds[]" value="145666413">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/33284a7504709e5906fd99fbd189080d.png/s/300x300/a/36490/sc/20') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666413">Понедельник. Тренировка №12.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666414">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666414">
						<input type="hidden" name="orderIds[]" value="145666414">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/c74bf0d54978b5397fd323b50e33982f.png/s/300x300/a/36490/sc/114') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666414">Вторник. Тренировка №13.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666415">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666415">
						<input type="hidden" name="orderIds[]" value="145666415">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/17a068bd8e6c72be5ea6aab721031358.png/s/300x300/a/36490/sc/182') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666415">Среда. Тренировка №14.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666416">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666416">
						<input type="hidden" name="orderIds[]" value="145666416">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/0e458296f6c7fb558ce6c7c668c461c8.png/s/300x300/a/36490/sc/175') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666416">Четверг. Тренировка №15.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666417">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666417">
						<input type="hidden" name="orderIds[]" value="145666417">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/956e94397c04f8e2cc8dd14b50242016.png/s/300x300/a/36490/sc/54') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666417">Пятница. Тренировка №16.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666418">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666418">
						<input type="hidden" name="orderIds[]" value="145666418">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/b17d183293ae4b74c7e530aa98324dc2.png/s/300x300/a/36490/sc/139') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666418">Суббота. Тренировка №17.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
													</ul>
	
</form>






<style>
	.lesson-list { margin: 0px; padding: 0px; list-style: none; background: #ecf0f1; padding: 10px 0px; margin-bottom: 20px;   }
	.lesson-list li { margin-bottom: 30px; margin: 20px; cursor: pointer; overflow: hidden; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
	.lesson-list li a { display: block; }
	.lesson-list li a:hover { text-decoration: none }

	.lesson-list li .title { font-size: 22px; font-weight: normal; line-height: 24px; margin-right: 20px; display: block; /*max-width: 500px;*/}
	.lesson-list li .info { margin-left: 60px; padding-top: 0px; height: 100%; background: white; }
	.lesson-list li .info .vmiddle { display: block; padding-right: 20px}

	.lesson-list .description { display: block; font-size: 14px; color: #222; width: 90%; }
	.lesson-list .tags .label { font-size: 0.7em; margin-left: 10px}



	.lesson-list li.user-state-reached .info { border-left: 1px solid #ecf0f1}
	.lesson-list li.user-state-reached .user-state-label { display: none; }
	.lesson-list li.user-state-reached .user-state-label.is-stop-lesson { display: inline-block; }


	.lesson-list li .state-icon-block { float: left; border-top-left-radius: 5px; border-bottom-left-radius: 5px; height: 100%; min-height: 78px; width: 60px; text-align: center; margin-right: 20px; padding-top: 28px;  }
	.lesson-list li .state-icon-block .fui { color: white; }

	.lesson-list li .state-block { float: left; width: 150px; margin-right: 20px; border-right: 2px solid #ecf0f1; height: 100%; padding-right: 20px; padding-top: 15px; }


	.lesson-list .user-state-label { font-weight: bold; display: block;}
	.lesson-list .state-label { font-size: 13px; color: #222; }

	.lesson-list li { min-height: 76px; }
	.lesson-list li.user-state-not_reached { cursor: default}
	.lesson-list li.user-state-not_reached a { color: #222; }
	.lesson-list li.user-state-not_reached .info { background: #d9dfe2; }
	.lesson-list li.user-state-not_reached .info { border-left: 1px solid #ecf0f1 }
	.lesson-list li.user-state-not_reached .link { color: #2c3e50; cursor: default}
	.lesson-list li.user-state-not_reached .link:hover { text-decoration: none}

	.lesson-list li.divider { height: auto; margin-bottom: 0px; }
	.lesson-list li.first-unreached { margin-top: 0px;}


	.lesson-list li.with-image .state-icon-block { margin-right: 0px; padding-top: 52px;}
	.lesson-list li .main-image { float: left; margin-right: 20px; }
	.lesson-list li table td { vertical-align: middle; min-height: 78px; }
	.lesson-list li table { min-height: 78px; min-width: 260px; }
	.lesson-list li .item-a { border-top-left-radius: 5px;  border-bottom-left-radius: 5px; }

	.lesson-list li.lesson-is-hidden {
		min-height: 0px;
		background: white;
		padding: 5px;
		opacity: 0.5;
	}

	.lesson-list .item-main-td {
		padding-top: 15px; padding-bottom: 15px
	}

	.lesson-list .item-main-td.item-with-image {
		padding-left: 20px; height: 120px;
	}


	.lesson-list li.user-state-reached .user-state-label.has-start-at {
		display: block;
	}

	@media (max-width: 520px) {
		.lesson-list li .item-image { display: none }
	}

	@media (max-width: 767px) {
		.lesson-list li .vmiddle { margin-left: 20px; }
		.lesson-list li { border-radius: 0px;}
		.lesson-list li .info {
			margin-left: 0;
		}
		.lesson-list li {
			margin: 5px; margin-bottom: 10px;;
		}
	}




</style>				</div>


						</div>

	</div>



					</div>
	</div>


	</div>
</div>


	





			
		
	







<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

	
<div id="w94359" class="talks-widget"></div>



































</body>
</html>
