<!DOCTYPE html>
<html>
<head>

	
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
	
					
	<!-- Loading Proxima nova font -->
	

			
	
		<title>Убойные комплексы 1.0</title>

	


	

	














































































</head>
<body class="gc-user-logined">




	<div id="gcAccountUserMenu"></div>

		
	

<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		<div class="page-full-block">
			
    			<div class="main-page-block medium-width">

        <div class="container" style="position: relative">
			<div>
				
				<div class="logo gc-account-logo" style="margin-bottom: 20px">
					<a href="/" class="logo-link">
													<span class="logo-text">Online Fitness</span>
											</a>

				</div>

				
			</div>

							<div class="breadcrumbs">
<a href="/teach/control">Тренинги</a> → <a href="/teach/control/stream/view/id/187244461">Убойные челленджи</a>
</div>			
	        
				<div class="page-header">

											<div class="page-actions">
														</div>
					
					
											<h1>Убойные комплексы 1.0</h1>
					
					
					<div class="content-menu">
																	</div>

				</div>
			



							
















































































	
	<div class="xdget-root">
			<div class="xdget-block xdget-training xdget-common-container " id="xdget491253" data-xdget-id="491253">
		

			

	
	<div class="xdget-block xdget-lessonList " id="xdget879931" data-xdget-id="879931">
		


						
<form action="/teach/control/stream/saveLessonsOrder/id/187244462" method="post">
	<div class="lesson-sort-block alert alert-warning" style="display: none;">
		Перетаскивайте уроки мышкой чтобы добиться нужного Вам порядка		<br>
				<div style="margin-top: 10px">
			<button class="btn btn-primary btn-save-sort"><span class="glyphicon glyphicon-save"></span> Сохранить порядок</button>
			<button class="btn btn-cancel-sort btn-link">Отменить</button>
		</div>
	</div>
	
	
						
						<ul class="lesson-list" id="lessonList8376">
															
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666339">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666339">
						<input type="hidden" name="orderIds[]" value="145666339">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/3f8161d18f49eee0e60eeb19d51a9af2.jpeg/s/300x300/a/36490/sc/294') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666339">Понедельник. Тренировка №1.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666340">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666340">
						<input type="hidden" name="orderIds[]" value="145666340">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/f854d22ee2fc4c80c5a28e3d3b8db6b8.png/s/300x300/a/36490/sc/341') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666340">Вторник. Тренировка №2.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666341">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666341">
						<input type="hidden" name="orderIds[]" value="145666341">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666341">Среда. День отдыха от нагрузок на первой неделе!</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666342">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666342">
						<input type="hidden" name="orderIds[]" value="145666342">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/e20f32f823bd4a08465939b35a2fd6b2.png/s/300x300/a/36490/sc/141') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666342">Четверг. Тренировка №3.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666343">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666343">
						<input type="hidden" name="orderIds[]" value="145666343">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/527616909012263858ac16e297f02955.png/s/300x300/a/36490/sc/333') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666343">Пятница. Тренировка №4.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666344">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666344">
						<input type="hidden" name="orderIds[]" value="145666344">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/5be01d2e31b799c5d88c2c6002ae9803.png/s/300x300/a/36490/sc/141') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666344">Суббота. Тренировка №5.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666345">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666345">
						<input type="hidden" name="orderIds[]" value="145666345">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666345">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666346">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666346">
						<input type="hidden" name="orderIds[]" value="145666346">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/5275c95fb9912d7231a69ede47d2f520.png/s/300x300/a/36490/sc/110') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666346">Понедельник. Тренировка №6.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666347">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666347">
						<input type="hidden" name="orderIds[]" value="145666347">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/c8576af6eb54e129728638dd5a94f2da.png/s/300x300/a/36490/sc/213') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666347">Вторник. Тренировка №7.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666348">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666348">
						<input type="hidden" name="orderIds[]" value="145666348">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/6605feb1c76361f41a4ce35b3392dca1.png/s/300x300/a/36490/sc/181') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666348">Среда. Тренировка №8.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666349">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666349">
						<input type="hidden" name="orderIds[]" value="145666349">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/ba10cd4fc1d81b3f16f132de78d47c92.png/s/300x300/a/36490/sc/281') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666349">Четверг. Тренировка №9.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666350">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666350">
						<input type="hidden" name="orderIds[]" value="145666350">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/32552eb125858e2ab6f6c001152ae998.png/s/300x300/a/36490/sc/45') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666350">Пятница. Тренировка №10.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666351">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666351">
						<input type="hidden" name="orderIds[]" value="145666351">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/2d738ba97cb077313161f6d70971a338.png/s/300x300/a/36490/sc/4') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666351">Суббота. Тренировка №11.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666352">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666352">
						<input type="hidden" name="orderIds[]" value="145666352">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666352">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666353">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666353">
						<input type="hidden" name="orderIds[]" value="145666353">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/29a1b029399a73edb34646f9df18fa31.png/s/300x300/a/36490/sc/153') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666353">Понедельник. Тренировка №12.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666354">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666354">
						<input type="hidden" name="orderIds[]" value="145666354">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/4de6af0333658f36db31e05f712cd58e.png/s/300x300/a/36490/sc/194') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666354">Вторник. Тренировка №13.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666355">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666355">
						<input type="hidden" name="orderIds[]" value="145666355">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/14ff4b9ee3cc245bf74c98946a6c0042.png/s/300x300/a/36490/sc/200') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666355">Среда. Тренировка №14.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666356">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666356">
						<input type="hidden" name="orderIds[]" value="145666356">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/2ddee2e3b9c769ccffd3b839c537e9ca.png/s/300x300/a/36490/sc/453') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666356">Четверг. Тренировка №15.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666357">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666357">
						<input type="hidden" name="orderIds[]" value="145666357">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/0fa5dc9a404f104589bb6bd8536aeb64.png/s/300x300/a/36490/sc/238') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666357">Пятница. Тренировка №16.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666358">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666358">
						<input type="hidden" name="orderIds[]" value="145666358">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/0f6f9ad4cb7558aee4bbb0f2ada71b00.png/s/300x300/a/36490/sc/415') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666358">Суббота. Тренировка №17.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
													</ul>
	
</form>






<style>
	.lesson-list { margin: 0px; padding: 0px; list-style: none; background: #ecf0f1; padding: 10px 0px; margin-bottom: 20px;   }
	.lesson-list li { margin-bottom: 30px; margin: 20px; cursor: pointer; overflow: hidden; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
	.lesson-list li a { display: block; }
	.lesson-list li a:hover { text-decoration: none }

	.lesson-list li .title { font-size: 22px; font-weight: normal; line-height: 24px; margin-right: 20px; display: block; /*max-width: 500px;*/}
	.lesson-list li .info { margin-left: 60px; padding-top: 0px; height: 100%; background: white; }
	.lesson-list li .info .vmiddle { display: block; padding-right: 20px}

	.lesson-list .description { display: block; font-size: 14px; color: #222; width: 90%; }
	.lesson-list .tags .label { font-size: 0.7em; margin-left: 10px}



	.lesson-list li.user-state-reached .info { border-left: 1px solid #ecf0f1}
	.lesson-list li.user-state-reached .user-state-label { display: none; }
	.lesson-list li.user-state-reached .user-state-label.is-stop-lesson { display: inline-block; }


	.lesson-list li .state-icon-block { float: left; border-top-left-radius: 5px; border-bottom-left-radius: 5px; height: 100%; min-height: 78px; width: 60px; text-align: center; margin-right: 20px; padding-top: 28px;  }
	.lesson-list li .state-icon-block .fui { color: white; }

	.lesson-list li .state-block { float: left; width: 150px; margin-right: 20px; border-right: 2px solid #ecf0f1; height: 100%; padding-right: 20px; padding-top: 15px; }


	.lesson-list .user-state-label { font-weight: bold; display: block;}
	.lesson-list .state-label { font-size: 13px; color: #222; }

	.lesson-list li { min-height: 76px; }
	.lesson-list li.user-state-not_reached { cursor: default}
	.lesson-list li.user-state-not_reached a { color: #222; }
	.lesson-list li.user-state-not_reached .info { background: #d9dfe2; }
	.lesson-list li.user-state-not_reached .info { border-left: 1px solid #ecf0f1 }
	.lesson-list li.user-state-not_reached .link { color: #2c3e50; cursor: default}
	.lesson-list li.user-state-not_reached .link:hover { text-decoration: none}

	.lesson-list li.divider { height: auto; margin-bottom: 0px; }
	.lesson-list li.first-unreached { margin-top: 0px;}


	.lesson-list li.with-image .state-icon-block { margin-right: 0px; padding-top: 52px;}
	.lesson-list li .main-image { float: left; margin-right: 20px; }
	.lesson-list li table td { vertical-align: middle; min-height: 78px; }
	.lesson-list li table { min-height: 78px; min-width: 260px; }
	.lesson-list li .item-a { border-top-left-radius: 5px;  border-bottom-left-radius: 5px; }

	.lesson-list li.lesson-is-hidden {
		min-height: 0px;
		background: white;
		padding: 5px;
		opacity: 0.5;
	}

	.lesson-list .item-main-td {
		padding-top: 15px; padding-bottom: 15px
	}

	.lesson-list .item-main-td.item-with-image {
		padding-left: 20px; height: 120px;
	}


	.lesson-list li.user-state-reached .user-state-label.has-start-at {
		display: block;
	}

	@media (max-width: 520px) {
		.lesson-list li .item-image { display: none }
	}

	@media (max-width: 767px) {
		.lesson-list li .vmiddle { margin-left: 20px; }
		.lesson-list li { border-radius: 0px;}
		.lesson-list li .info {
			margin-left: 0;
		}
		.lesson-list li {
			margin: 5px; margin-bottom: 10px;;
		}
	}




</style>				</div>


						</div>

	</div>



					</div>
	</div>


	</div>
</div>


	





			
		
	







<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

	
<div id="w28102" class="talks-widget"></div>



































</body>
</html>
