<!DOCTYPE html>
<html>
<head>

	
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
	
					
	<!-- Loading Proxima nova font -->
	

			
	
		<title>Убойные комплексы 2.0</title>

	


	

	














































































</head>
<body class="gc-user-logined">




	<div id="gcAccountUserMenu"></div>

		
	

<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		<div class="page-full-block">
			
    			<div class="main-page-block medium-width">

        <div class="container" style="position: relative">
			<div>
				
				<div class="logo gc-account-logo" style="margin-bottom: 20px">
					<a href="/" class="logo-link">
													<span class="logo-text">Online Fitness</span>
											</a>

				</div>

				
			</div>

							<div class="breadcrumbs">
<a href="/teach/control">Тренинги</a> → <a href="/teach/control/stream/view/id/187244461">Убойные челленджи</a>
</div>			
	        
				<div class="page-header">

											<div class="page-actions">
														</div>
					
					
											<h1>Убойные комплексы 2.0</h1>
					
					
					<div class="content-menu">
																	</div>

				</div>
			



							
















































































	
	<div class="xdget-root">
			<div class="xdget-block xdget-training xdget-common-container " id="xdget491253" data-xdget-id="491253">
		

			

	
	<div class="xdget-block xdget-lessonList " id="xdget879931" data-xdget-id="879931">
		


						
<form action="/teach/control/stream/saveLessonsOrder/id/187244463" method="post">
	<div class="lesson-sort-block alert alert-warning" style="display: none;">
		Перетаскивайте уроки мышкой чтобы добиться нужного Вам порядка		<br>
				<div style="margin-top: 10px">
			<button class="btn btn-primary btn-save-sort"><span class="glyphicon glyphicon-save"></span> Сохранить порядок</button>
			<button class="btn btn-cancel-sort btn-link">Отменить</button>
		</div>
	</div>
	
	
						
						<ul class="lesson-list" id="lessonList3912">
															
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666359">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666359">
						<input type="hidden" name="orderIds[]" value="145666359">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/0d384efe273d8d6ab0d17552536cff05.png/s/300x300/a/36490/sc/194') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666359">Понедельник. Тренировка №1.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666360">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666360">
						<input type="hidden" name="orderIds[]" value="145666360">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/c8f24c6a13bf79663c2be78bcf798ee6.png/s/300x300/a/36490/sc/314') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666360">Вторник. Тренировка №2.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666361">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666361">
						<input type="hidden" name="orderIds[]" value="145666361">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/38fd5e174c4334f45ff382aadaa09fd6.png/s/300x300/a/36490/sc/293') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666361">Среда. Тренировка №3.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666362">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666362">
						<input type="hidden" name="orderIds[]" value="145666362">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/18300d3db5dcd6f0811b4991161187a5.png/s/300x300/a/36490/sc/38') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666362">Четверг. Тренировка №4.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666363">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666363">
						<input type="hidden" name="orderIds[]" value="145666363">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/400f972e8d4c891d497b3498b752b134.png/s/300x300/a/36490/sc/18') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666363">Пятница. Тренировка №5.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666364">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666364">
						<input type="hidden" name="orderIds[]" value="145666364">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/4d4bac71f0522a0eb7b70f11914c9f84.png/s/300x300/a/36490/sc/181') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666364">Суббота. Тренировка №6.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666365">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666365">
						<input type="hidden" name="orderIds[]" value="145666365">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666365">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666366">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666366">
						<input type="hidden" name="orderIds[]" value="145666366">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/e472cefbdb5f26cab9771427a7bbf0e0.png/s/300x300/a/36490/sc/381') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666366">Понедельник. Тренировка №7.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666367">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666367">
						<input type="hidden" name="orderIds[]" value="145666367">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/17dcdf21ce493e5aea65fb58cd22fb5a.png/s/300x300/a/36490/sc/430') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666367">Вторник. Тренировка №8.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666368">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666368">
						<input type="hidden" name="orderIds[]" value="145666368">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/ada3245c470d301cececcf27cdb0ba65.png/s/300x300/a/36490/sc/406') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666368">Среда. Тренировка №9.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666369">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666369">
						<input type="hidden" name="orderIds[]" value="145666369">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/dc8be17d2f483b98bf6008fd490e06dc.png/s/300x300/a/36490/sc/299') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666369">Четверг. Тренировка №10.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666370">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666370">
						<input type="hidden" name="orderIds[]" value="145666370">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/6696236ba8daa370e86b01fcabeaa0b7.png/s/300x300/a/36490/sc/323') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666370">Пятница. Тренировка №11.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666371">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666371">
						<input type="hidden" name="orderIds[]" value="145666371">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/c876022b31997f8a4203edcb5e608aa2.png/s/300x300/a/36490/sc/141') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666371">Суббота. Тренировка №12.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666372">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666372">
						<input type="hidden" name="orderIds[]" value="145666372">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/58f411bb7075d8d012e354b95573d43c.jpg/s/300x300/a/36490/sc/49') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666372">Воскресенье. День отдыха от нагрузок!</div>
																							<div class="description">
													Обязательный день отдыха.												</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666373">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666373">
						<input type="hidden" name="orderIds[]" value="145666373">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/19e33d99e43bdd173a7c77104423cba6.png/s/300x300/a/36490/sc/143') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666373">Понедельник. Тренировка №13.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666374">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666374">
						<input type="hidden" name="orderIds[]" value="145666374">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/d235899a2125d393246dced47fddcaff.png/s/300x300/a/36490/sc/299') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666374">Вторник. Тренировка №14.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666375">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666375">
						<input type="hidden" name="orderIds[]" value="145666375">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/e62e39f6f4120c4612426c90eeac4884.png/s/300x300/a/36490/sc/101') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666375">Среда. Тренировка №15.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666376">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666376">
						<input type="hidden" name="orderIds[]" value="145666376">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/c8a9106c74fcdf29c9275bc79aa2100a.png/s/300x300/a/36490/sc/237') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666376">Четверг. Тренировка №16.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666377">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666377">
						<input type="hidden" name="orderIds[]" value="145666377">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/279e63b5468503cfe71e91f5ce130320.png/s/300x300/a/36490/sc/50') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666377">Пятница. Тренировка №17.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
																							
																	

				
													
													
				<li class="user-state-reached  with-image lesson-id-145666378">
					<a class="user-state-bg item-a" href="/teach/../teach/control/lesson/view/id/145666378">
						<input type="hidden" name="orderIds[]" value="145666378">

						<!--div class="number">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div-->


						<div class="state-icon-block hidden-xs">
															<span class="glyphicon glyphicon-list-alt"></span>
													</div>

						<div class="info" style="position: relative">
														<!--table class="info-table">
								<tr><td-->

							
							<table><tr>

																			<td class="item-image" style="background: transparent url('//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/41c975a4e876a8f4905b266eee442a40.png/s/300x300/a/36490/sc/107') no-repeat center center; background-size: cover; width: 180px; ">
										</td>
									
									<td class="item-main-td item-with-image">
										<div class="vmiddle">
											<div class="user-state-label  ">
																									Доступен																								</div>
											<div class="link title" href="/teach/control/lesson/view/id/145666378">Суббота. Тренировка №18.</div>
																																</div>
									</td>
</tr></table>
							<!--/td></tr>
						</table-->
						</div>

					</a>
				</li>
													</ul>
	
</form>






<style>
	.lesson-list { margin: 0px; padding: 0px; list-style: none; background: #ecf0f1; padding: 10px 0px; margin-bottom: 20px;   }
	.lesson-list li { margin-bottom: 30px; margin: 20px; cursor: pointer; overflow: hidden; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
	.lesson-list li a { display: block; }
	.lesson-list li a:hover { text-decoration: none }

	.lesson-list li .title { font-size: 22px; font-weight: normal; line-height: 24px; margin-right: 20px; display: block; /*max-width: 500px;*/}
	.lesson-list li .info { margin-left: 60px; padding-top: 0px; height: 100%; background: white; }
	.lesson-list li .info .vmiddle { display: block; padding-right: 20px}

	.lesson-list .description { display: block; font-size: 14px; color: #222; width: 90%; }
	.lesson-list .tags .label { font-size: 0.7em; margin-left: 10px}



	.lesson-list li.user-state-reached .info { border-left: 1px solid #ecf0f1}
	.lesson-list li.user-state-reached .user-state-label { display: none; }
	.lesson-list li.user-state-reached .user-state-label.is-stop-lesson { display: inline-block; }


	.lesson-list li .state-icon-block { float: left; border-top-left-radius: 5px; border-bottom-left-radius: 5px; height: 100%; min-height: 78px; width: 60px; text-align: center; margin-right: 20px; padding-top: 28px;  }
	.lesson-list li .state-icon-block .fui { color: white; }

	.lesson-list li .state-block { float: left; width: 150px; margin-right: 20px; border-right: 2px solid #ecf0f1; height: 100%; padding-right: 20px; padding-top: 15px; }


	.lesson-list .user-state-label { font-weight: bold; display: block;}
	.lesson-list .state-label { font-size: 13px; color: #222; }

	.lesson-list li { min-height: 76px; }
	.lesson-list li.user-state-not_reached { cursor: default}
	.lesson-list li.user-state-not_reached a { color: #222; }
	.lesson-list li.user-state-not_reached .info { background: #d9dfe2; }
	.lesson-list li.user-state-not_reached .info { border-left: 1px solid #ecf0f1 }
	.lesson-list li.user-state-not_reached .link { color: #2c3e50; cursor: default}
	.lesson-list li.user-state-not_reached .link:hover { text-decoration: none}

	.lesson-list li.divider { height: auto; margin-bottom: 0px; }
	.lesson-list li.first-unreached { margin-top: 0px;}


	.lesson-list li.with-image .state-icon-block { margin-right: 0px; padding-top: 52px;}
	.lesson-list li .main-image { float: left; margin-right: 20px; }
	.lesson-list li table td { vertical-align: middle; min-height: 78px; }
	.lesson-list li table { min-height: 78px; min-width: 260px; }
	.lesson-list li .item-a { border-top-left-radius: 5px;  border-bottom-left-radius: 5px; }

	.lesson-list li.lesson-is-hidden {
		min-height: 0px;
		background: white;
		padding: 5px;
		opacity: 0.5;
	}

	.lesson-list .item-main-td {
		padding-top: 15px; padding-bottom: 15px
	}

	.lesson-list .item-main-td.item-with-image {
		padding-left: 20px; height: 120px;
	}


	.lesson-list li.user-state-reached .user-state-label.has-start-at {
		display: block;
	}

	@media (max-width: 520px) {
		.lesson-list li .item-image { display: none }
	}

	@media (max-width: 767px) {
		.lesson-list li .vmiddle { margin-left: 20px; }
		.lesson-list li { border-radius: 0px;}
		.lesson-list li .info {
			margin-left: 0;
		}
		.lesson-list li {
			margin: 5px; margin-bottom: 10px;;
		}
	}




</style>				</div>


						</div>

	</div>



					</div>
	</div>


	</div>
</div>


	





			
		
	







<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->

	
<div id="w67830" class="talks-widget"></div>



































</body>
</html>
