<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
		
		
		<title>Урок №1.Начало&amp;#128640;</title>
			


	










































































</head>
<body class="gc-user-logined">
	<div id="gcAccountUserMenu"></div>

								
					

	<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		

<div class="container">

	<div class="standard-logo">
		<a href="/" class="logo-link">
							<span class="logo-text">
					Online Fitness				</span>
					</a>
	</div>

	

	<div class="standard-page-content">
					<ul class="breadcrumb">
<li><a href="/teach/control/stream/index">Список тренингов</a></li>
</ul>				


<style>

	
    /*
	.block-set .container  {
		padding-left: 0;
		padding-right: 0;
	}
	*/

	.block-set {
		font-size: 14px;
        font-weight: normal;
		font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif;
	}
    .block-set .f-text {
        font-family: inherit;
        font-weight: inherit;
    }
    .questionary-title-wrapper {
        display: none;
    }
    .question-number {
        text-align: center;
        margin-bottom: 10px;
    }
    .testing-widget  .question .question-title-big {
        font-size: 24px;

    }
    .testing-widget .before-start-block h3 {
        display: none;
    }
    .lesson-mission-text {
        border-bottom: 1px solid #eee;
    }

	.gc-main-content.with-left-menu .container .container {
				width: 100% !important;
				margin-left: 0px;
	}
</style>
<div>
	<div class="page-header">
					<div class="page-actions" style="float: right">
				
			</div>
				<h1>
			<a href="/teach/control/stream/view/id/187244399">СТАРТ мощного "Body By Rocket"</a>			
		</h1>
	</div>
	<div class="center-block " style="max-width: 870px;margin-left: 0px; margin-bottom: 60px;width: auto;">
		<div class="lesson-header-block row-section" style="background: #FAFAFA;border-bottom: 1px solid #ddd;padding: 0px 15px;">

			<div class="row header-view">
				<div class="col-md-12 text-center" style="padding-top: 20px;">
					<h2 class="lesson-title-value">Урок №1.Начало🚀</h2>
					<span class="lesson-description-value"></span>
									</div>
			</div>


			

				<div class="row lesson-navigation" style="padding-top: 20px; padding-bottom: 10px; overflow: hidden; ">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="25%" class="" style="padding-left: 19px;">
																							</td>
							<td width="50%" class="text-center hidden-xs">
								<span>
									1 из 5 уроков								</span>
								<div class="user-state-reached">
									<div style="font-weight: normal; font-size: 1.2em" class="user-state-label">Доступен</div>
								</div>
							</td>
							<td width="25%" class="text-right" style="padding-right:17px;">
																																														<a href="/pl/teach/control/lesson/view?id=145665523">Следующий урок <span class="fui fui-arrow-right"></span> </a>
											<div class="hidden-xs" style="font-size: 1em; line-height: 16px; font-weight: normal">Урок №2.Все о диете 🤤</div>
																											</td>
						</tr>
					</table>
				</div>
					</div>



					
<div class="lite-page block-set">
				<div data-updated="1588562701" id="lite-block-live-wrapper-1588801163-6715" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-mission-block" data-block-id="680900991">


<style>
	#ltBlock680900991 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680900991" data-block-id="680900991" class="lt-block lt-view lmb1 lt-lesson lt-lesson-mission-block" data-code="ltBlock680900991">
	<div class="lt-block-wrapper">
	





</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801163-6722" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680900992">


<style>
	#ltBlock680900992 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680900992" data-block-id="680900992" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-20a85">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="213a5887324fb1eb5250ac028e596cb8.jpg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/213a5887324fb1eb5250ac028e596cb8.jpg/s/f1200x/a/36490/sc/92">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801163-7072" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-comment-block" data-block-id="680900993">


<style>
	#ltBlock680900993 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680900993" data-block-id="680900993" class="lt-block lt-view lesson-comment-block-1 lt-lesson lt-lesson-comment-block" data-code="ltBlock680900993">
	<div class="lt-block-wrapper">
	
	


<div class="container">
	<div class="row row-section">
		<div class="col-md-12">

			
							<div class="lesson-answers-title">
					<div class="pull-right" id="answers">

													<b>старые ответы</b> /
								<a href="/pl/teach/control/lesson/view?id=145665522&amp;sort=desc&amp;mode=answers#answers">новые ответы</a>
												сначала
					</div>
					<h3 style="margin-bottom: 20px;">
													Комментарии к уроку						
											</h3>
				</div>
			
								<div class="simple-answer user-answer" data-answers-list-selector=".other-answers" data-lesson-id="145665522">
		<div class="new-comment new-answer">
			<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
			<div class="answer-comment textarea-block">
				<textarea placeholder="добавить комментарий к уроку" class="new-comment-textarea emoji-textarea"></textarea>
				<button class="btn btn-primary btn-send">Отправить</button>
			</div>
		</div>
	</div>

									





<div class="other-answers answers-list">

						


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54127496" data-object-type-id="8" data-user-id="86219722" data-lesson-id="145665522" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"0599c384e0ffcb471031a91135bb3ab8","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54127496","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54127496","user-id":"86219722"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54127496">test</a>
		<div class="user-image"><img width="50" class="user-profile-image user-default-profile-image " src="//getcourse.ru/public/img/default_profile_50.png"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img width="50" class="user-profile-image user-default-profile-image " src="//getcourse.ru/public/img/default_profile_50.png"></div>
				<a href="/pl/86219722" data-user-id="86219722" class="user-profile-link"><span class="text">Светлана Кудряшова</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665522?showAnswer=54127496#answer54127496" title="Время обновления ответа 2020-05-04 08:14:19">Пн 04 Май 08:14</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="86219722">
				<div class="main" data-object-id="54127496" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							Привет по тренировкам сориентируйте даны утренняя и основная обе нужно выполнить?						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54127496-8" id="likes-54127496-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54127496" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54127496" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54127496-8 ">
	<span class="button  " data-object-id="54127496" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54127496-8- comments-tree-live   " id="comments-36490-54127496-8--1588801163-6933" data-tree-id="comments-36490-54127496-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54127496-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"0599c384e0ffcb471031a91135bb3ab8","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54127496","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54127496","user-id":"86219722"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
												                    					<div class="gc-comment gc-comment-uniq-class-1588801163-694 comment-level  level-1 comment103942040top gc-user-comment-86353360" data-timestamp="1588572927" data-level="1" data-direction="asc">
	<div class="comment-wrapper comments-container has-quote-images-settings-container contains-uploadify">
		<div class="comment lesson-answer-comment user-related-data  " id="comment103942040" data-object-id="103942040" data-user-id="86353360" data-id="103942040">
			<div class="hide comment-user-settings-json">{"signature":"0599c384e0ffcb471031a91135bb3ab8","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54127496","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54127496","user-id":"86219722"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
			<div class="hide settings">{"signature":"983c91839717bbdda7cb77e6fbd24633","accountUserId":85150871,"values":{"object_type_id":10,"object_id":103942040,"max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"","comment_class_callback":null,"data":[],"level_directions":{"1":"desc","2":"asc"},"level_show_send_button_always":{"1":true},"editable_comments":false,"show_online_user_count":true,"collapsible":false,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":false,"disable_links":false,"window_style":null}}</div>
			<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/0aaf2773d4b26bf35458df6dc8ddc32f.jpeg/s/50x50/a/36490/sc/339"></div>
			<div class="title">
												<a target="_blank" href="/pl/86353360" data-user-id="86353360" class="user-profile-link"><span class="text">Mika Madiyeva</span></a>									<span class="comment-user-type"><span style="position: relative; top: 1px;" class="fa fa-graduation-cap" title="Ученик" alt="Ученик"></span></span>
																												
				<span data-id="103942040" class="pseudo-link hide comment-delete-link" data-access="admin" data-delete="0">удалить</span>
			</div>

			<div class="text">
								<div class="main" data-object-id="103942040" data-object-type-id="10" data-converter-type-id="175" data-to-review-converted="0">
					<div class="emoji-text text-content edit-comment-inactive-element">
						Для эффективности думаю обе !											</div>
					<div class="edit-comment-active-element hide">
						<div style="position: relative;width: 95%;">
							<textarea class="new-comment-textarea edited-comment-text">Для эффективности думаю обе !</textarea>
							<div class="edit-attach-file-button-container attach-file-button-container"></div>
						</div>
					</div>
											<div class="files ">
													</div>
									</div>
				<div class="edit-comment-active-element comment-attach-file-for-edit-link hide" style="padding-bottom: 10px;"></div>
				<div class="edit-comment-active-element hide">
					<button class="btn btn-primary save-edited-comment-btn" type="button">Сохранить</button> или <a href="javascript:void(0)" class="comment-cancel-edit-link">отменить редактирование</a>
				</div>
															<div class="comment-time edit-comment-inactive-element">
							<span class="value" style="padding-right: 5px; font-size: 0.8em;">Пн 04 Май 09:15 </span>
							<span class="word-separator"></span>
							<span class="b-like-and-subscribe-notifications">
<span class="b-like like-103942040-10" id="likes-103942040-10">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="103942040" data-object-type-id="10">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="103942040" data-object-type-id="10"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-103942040-10 ">
	<span class="button  " data-object-id="103942040" data-object-type-id="10" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>													</div>
												</div>
						<style>
				.b-like a {
					font-size: 1em;
				}
			</style>
		</div>

		<div class="comments   comments-10-103942040-0">
					</div>
					<div style="clear:both;">
							</div>
			</div>
</div>
									                    					<div class="gc-comment gc-comment-uniq-class-1588801163-6979 comment-level  level-1 comment103943947top gc-user-comment-86219722" data-timestamp="1588573543" data-level="1" data-direction="asc">
	<div class="comment-wrapper comments-container has-quote-images-settings-container contains-uploadify">
		<div class="comment lesson-answer-comment user-related-data  " id="comment103943947" data-object-id="103943947" data-user-id="86219722" data-id="103943947">
			<div class="hide comment-user-settings-json">{"signature":"0599c384e0ffcb471031a91135bb3ab8","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54127496","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54127496","user-id":"86219722"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
			<div class="hide settings">{"signature":"30bbaba0564e56d897801987b7d31f2b","accountUserId":85150871,"values":{"object_type_id":10,"object_id":103943947,"max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"","comment_class_callback":null,"data":[],"level_directions":{"1":"desc","2":"asc"},"level_show_send_button_always":{"1":true},"editable_comments":false,"show_online_user_count":true,"collapsible":false,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":false,"disable_links":false,"window_style":null}}</div>
			<div class="user-image-wrapper"><img width="50" class="user-profile-image user-default-profile-image " src="//getcourse.ru/public/img/default_profile_50.png"></div>
			<div class="title">
												<a target="_blank" href="/pl/86219722" data-user-id="86219722" class="user-profile-link"><span class="text">Светлана Кудряшова</span></a>									<span class="comment-user-type"><span style="position: relative; top: 1px;" class="fa fa-graduation-cap" title="Ученик" alt="Ученик"></span></span>
																												
				<span data-id="103943947" class="pseudo-link hide comment-delete-link" data-access="admin" data-delete="0">удалить</span>
			</div>

			<div class="text">
								<div class="main" data-object-id="103943947" data-object-type-id="10" data-converter-type-id="175" data-to-review-converted="0">
					<div class="emoji-text text-content edit-comment-inactive-element">
						Ок											</div>
					<div class="edit-comment-active-element hide">
						<div style="position: relative;width: 95%;">
							<textarea class="new-comment-textarea edited-comment-text">Ок</textarea>
							<div class="edit-attach-file-button-container attach-file-button-container"></div>
						</div>
					</div>
											<div class="files ">
													</div>
									</div>
				<div class="edit-comment-active-element comment-attach-file-for-edit-link hide" style="padding-bottom: 10px;"></div>
				<div class="edit-comment-active-element hide">
					<button class="btn btn-primary save-edited-comment-btn" type="button">Сохранить</button> или <a href="javascript:void(0)" class="comment-cancel-edit-link">отменить редактирование</a>
				</div>
															<div class="comment-time edit-comment-inactive-element">
							<span class="value" style="padding-right: 5px; font-size: 0.8em;">Пн 04 Май 09:25 </span>
							<span class="word-separator"></span>
							<span class="b-like-and-subscribe-notifications">
<span class="b-like like-103943947-10" id="likes-103943947-10">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="103943947" data-object-type-id="10">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="103943947" data-object-type-id="10"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-103943947-10 ">
	<span class="button  " data-object-id="103943947" data-object-type-id="10" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>													</div>
												</div>
						<style>
				.b-like a {
					font-size: 1em;
				}
			</style>
		</div>

		<div class="comments   comments-10-103943947-0">
					</div>
					<div style="clear:both;">
							</div>
			</div>
</div>
												</div>
						
			</div>

					
	<div id="commentReplyForm-54127496-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"0599c384e0ffcb471031a91135bb3ab8","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54127496","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54127496","user-id":"86219722"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
					


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54146031" data-object-type-id="8" data-user-id="86302261" data-lesson-id="145665522" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"9c98a745bb5c356dfab9fcb002eed3f1","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54146031","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54146031","user-id":"86302261"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54146031">test</a>
		<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/3736b62e069ad468de6cfcde15eac529/s/50x50/a/36490/sc/299"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/3736b62e069ad468de6cfcde15eac529/s/50x50/a/36490/sc/299"></div>
				<a href="/pl/86302261" data-user-id="86302261" class="user-profile-link"><span class="text">Tatyana  Smirnova</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665522?showAnswer=54146031#answer54146031" title="Время обновления ответа 2020-05-04 10:16:26">Пн 04 Май 10:16</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="86302261">
				<div class="main" data-object-id="54146031" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							😌😉						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54146031-8" id="likes-54146031-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54146031" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54146031" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54146031-8 ">
	<span class="button  " data-object-id="54146031" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54146031-8- comments-tree-live   " id="comments-36490-54146031-8--1588801163-7029" data-tree-id="comments-36490-54146031-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54146031-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"9c98a745bb5c356dfab9fcb002eed3f1","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54146031","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54146031","user-id":"86302261"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
															</div>
						
			</div>

					
	<div id="commentReplyForm-54146031-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"9c98a745bb5c356dfab9fcb002eed3f1","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54146031","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54146031","user-id":"86302261"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
					


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54417657" data-object-type-id="8" data-user-id="28320834" data-lesson-id="145665522" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"f5dbe0831412f5da3fcad87107340ecf","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54417657","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54417657","user-id":"28320834"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54417657">test</a>
		<div class="user-image"><img width="50" class="user-profile-image user-default-profile-image " src="//getcourse.ru/public/img/default_profile_50.png"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img width="50" class="user-profile-image user-default-profile-image " src="//getcourse.ru/public/img/default_profile_50.png"></div>
				<a href="/pl/28320834" data-user-id="28320834" class="user-profile-link"><span class="text">Настя Буева</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665522?showAnswer=54417657#answer54417657" title="Время обновления ответа 2020-05-05 09:46:13">Вт 05 Май 09:46</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="28320834">
				<div class="main" data-object-id="54417657" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							+						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54417657-8" id="likes-54417657-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54417657" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54417657" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54417657-8 ">
	<span class="button  " data-object-id="54417657" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54417657-8- comments-tree-live   " id="comments-36490-54417657-8--1588801163-7069" data-tree-id="comments-36490-54417657-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54417657-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"f5dbe0831412f5da3fcad87107340ecf","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54417657","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54417657","user-id":"28320834"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
															</div>
						
			</div>

					
	<div id="commentReplyForm-54417657-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"f5dbe0831412f5da3fcad87107340ecf","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54417657","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54417657","user-id":"28320834"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
	</div>




		</div>
	</div>
</div>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801163-7084" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680900994">


<style>
	#ltBlock680900994 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680900994" data-block-id="680900994" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-cc877">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder6873246" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><span><strong class="redactor-inline-converted">Привет, я-Лана! </strong></span><br></p>
<p>Многие меня знают как Света-Ракета, ник этот кстати получила, забавным образом, от своего бухгалтера, когда ещё жила в Тюмени, так как всегда самая первая бежала/летела за зарплатой.😂🚀</p>
<p><br></p>

<p>Переехала в Австралию 6 лет назад.<br>В реальности, переезд в другую страну - это стресс длиною в месяцы, если не годы. Доказывать заново, что ты чего-то стоишь, особенно, когда на родине помимо прочего остались статус, уровень жизнь, карьера, гарантии, привычная реальность и близкий социальный круг - это дикий стресс для любого человека.Мозг ведь не ищет, где получше. Мозг хочет, как привычно и понятно. А вокруг всё другое и новое: от языка до культуры.   </p>
<p><br></p>

<p>Но это так же был мой большой шанс начать делать то, на что мне не хватало смелости и времени раньше, в другой, прошлой жизни.Например, сменить профессию и взяться за то, о чем я всегда мечтала -тренировать людей и стать сертифицированные Персональным тренером.</p>
<p><br></p>

<p>Фитнес помогает мне реализоваться, делает меня сильнее -как физически, так и психологически, чем я с удовольствием и делюсь с моими клиентами и с вами, потому что вознаграждение, которое ты получишь в жизни, всегда будет прямо пропорционально твоей помощи другим людям. 😊🙌🏼</p>
<p><br></p>

<p>Зачем я вообще начала заниматься фитнесом и что он мне даёт?!</p>

<p>Прежде всего, это чувство уверенности. Я уверена в своём здоровье, и в своём теле.Я не болею, у меня хорошая выносливость, сон, и мне нравится больше как я выгляжу сейчас, чем 10 лет назад.Эта уверенность дала мне чёткое <strong class="redactor-inline-converted">«Я МОГУ»</strong>.</p>
<p><br></p>
<p>Знаете сколько раз это меня выручало в жизни?</p>
<p><br>«Я МОГУ» побеждает страхи, развивает спокойствие, контроль эмоций и впоследствии сложных ситуаций. <span>А ещё, расширяет возможности.</span></p>
<p>Я смотрю шире и уверена, вы тоже начинаете видеть больше для себя.</p>

<p>Фитнес для меня, это саморазвитие. Я развиваю тело, я развиваю себя ментально и духовно.</p>
<p><br></p>

<p>Избегайте людей которые вам говорят «ты не сможешь», «смотри на вещи реально, кто ты и кто она», «это почти невозможно», «даже не пытайся», это означает лишь одно, собеседник показывает вам пределы своих возможностей, но никак не ваших.</p>
<p><br></p>

<p><strong>Никого не слушай и Верь в Себя! Потому что я в Тебя, Верю!</strong>👊🏼</p>
<p><br></p>

<p>И всегда помни мою любимую фразу:</p>
</div>
</div>
<style>
	</style>			<div data-param="items/parts/field62883" data-item-name="field62883" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-image ">
	
<div id="image3964113" class="image-box" data-img-title="" data-img-src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/5c698be8b61278c2bb696fb8b5aa5944.jpeg/s/f1200x/a/36490/sc/213">
	<img class="lazyload" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/5c698be8b61278c2bb696fb8b5aa5944.jpeg/s/f1200x/a/36490/sc/213" data-param="items/parts/field62883/inner/image" data-hash="5c698be8b61278c2bb696fb8b5aa5944.jpeg" data-image-editable="true" title="" alt="" style="border-radius:  !important; ">
	<div data-editable="true" data-param="items/parts/field62883/inner/image/caption" class="lt-image-caption">
			</div>
</div>

</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680900994 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801163-7091" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680900995">


<style>
	#ltBlock680900995 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680900995" data-block-id="680900995" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-47a90">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="69d32fbaef9c12967b0867e214927877.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/69d32fbaef9c12967b0867e214927877.jpeg/s/f1200x/a/36490/sc/76">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
	</div>


<style>

	.content-row > div {
		padding: 0px;
	}

	.content-row > div {
		padding-top: 20px;
	}

	.content-row > div p, .content-row > div ol, .content-row > div ul, .content-row > div h1, .content-row > div h2, .content-row > div h3, .content-row > div h4 {
		margin-left: 20px;
	}

	.files-row > div {
		padding-top: 20px;
	}

</style>			</div>

</div>
	</div>
</div>


	</div>

			
	
<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->


<div id="w12380" class="talks-widget"></div>







































</body>
</html>
