<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
		
		
		<title>Урок №3.Форсы&amp;#128293;</title>
			


	
































































</head>
<body class="gc-user-logined">
	<div id="gcAccountUserMenu"></div>

								
					

	<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		

<div class="container">

	<div class="standard-logo">
		<a href="/" class="logo-link">
							<span class="logo-text">
					Online Fitness				</span>
					</a>
	</div>

	

	<div class="standard-page-content">
					<ul class="breadcrumb">
<li><a href="/teach/control/stream/index">Список тренингов</a></li>
</ul>				


<style>

	
    /*
	.block-set .container  {
		padding-left: 0;
		padding-right: 0;
	}
	*/

	.block-set {
		font-size: 14px;
        font-weight: normal;
		font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif;
	}
    .block-set .f-text {
        font-family: inherit;
        font-weight: inherit;
    }
    .questionary-title-wrapper {
        display: none;
    }
    .question-number {
        text-align: center;
        margin-bottom: 10px;
    }
    .testing-widget  .question .question-title-big {
        font-size: 24px;

    }
    .testing-widget .before-start-block h3 {
        display: none;
    }
    .lesson-mission-text {
        border-bottom: 1px solid #eee;
    }

	.gc-main-content.with-left-menu .container .container {
				width: 100% !important;
				margin-left: 0px;
	}
</style>
<div>
	<div class="page-header">
					<div class="page-actions" style="float: right">
				
			</div>
				<h1>
			<a href="/teach/control/stream/view/id/187244399">СТАРТ мощного "Body By Rocket"</a>			
		</h1>
	</div>
	<div class="center-block " style="max-width: 870px;margin-left: 0px; margin-bottom: 60px;width: auto;">
		<div class="lesson-header-block row-section" style="background: #FAFAFA;border-bottom: 1px solid #ddd;padding: 0px 15px;">

			<div class="row header-view">
				<div class="col-md-12 text-center" style="padding-top: 20px;">
					<h2 class="lesson-title-value">Урок №3.Форсы🔥</h2>
					<span class="lesson-description-value">Все о том, как быстрее добиться результата!</span>
									</div>
			</div>


			

				<div class="row lesson-navigation" style="padding-top: 20px; padding-bottom: 10px; overflow: hidden; ">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="25%" class="" style="padding-left: 19px;">
																																													<a href="/pl/teach/control/lesson/view?id=145665524"><span class="fui fui-arrow-left"></span> Предыдущий урок</a>
										<div class="hidden-xs" style="font-weight: normal; font-size: 1em; line-height: 16px "> Урок №3.Убойные тренировки💦</div>
																											</td>
							<td width="50%" class="text-center hidden-xs">
								<span>
									4 из 5 уроков								</span>
								<div class="user-state-reached">
									<div style="font-weight: normal; font-size: 1.2em" class="user-state-label">Доступен</div>
								</div>
							</td>
							<td width="25%" class="text-right" style="padding-right:17px;">
																																														<a href="/pl/teach/control/lesson/view?id=145665526">Следующий урок <span class="fui fui-arrow-right"></span> </a>
											<div class="hidden-xs" style="font-size: 1em; line-height: 16px; font-weight: normal">Урок №4.ДО И ПОСЛЕ! Мотивация!⚡️</div>
																											</td>
						</tr>
					</table>
				</div>
					</div>



					
<div class="lite-page block-set">
				<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5422" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-mission-block" data-block-id="680901029">


<style>
	#ltBlock680901029 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901029" data-block-id="680901029" class="lt-block lt-view lmb1 lt-lesson lt-lesson-mission-block" data-code="ltBlock680901029">
	<div class="lt-block-wrapper">
	





</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5434" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901030">


<style>
	#ltBlock680901030 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901030" data-block-id="680901030" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-4cfa4">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="16eb12b4682879d3b3ee66532b991148.jpg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/16eb12b4682879d3b3ee66532b991148.jpg/s/f1200x/a/36490/sc/13">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5449" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901031">


<style>
	#ltBlock680901031 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901031" data-block-id="680901031" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-916d8">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder9073997" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><strong class="redactor-inline-converted">Форсы </strong>- это допинг, ускоритель, все то, что приведет в шок твой организм и вынудит высасывать жировые запасы по всему телу, лишь бы получить дополнительную энергию.<br><br></p>

<p>Всего в программе<strong> 6 форсов</strong>, некоторые прямо влияют на ускорение жиросжигания, некоторые косвенно.</p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901031 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5462" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901032">


<style>
	#ltBlock680901032 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901032" data-block-id="680901032" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-b3432">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="babc4e9042a534cdcbd997a928244384.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/babc4e9042a534cdcbd997a928244384.jpeg/s/f1200x/a/36490/sc/195">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5476" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901033">


<style>
	#ltBlock680901033 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901033" data-block-id="680901033" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-1b304">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder7590006" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><strong class="redactor-inline-converted">Периодическое голодание </strong>- это то , что я обожаю, люблю и всем советую. Частое питание, 5- 6 приемов пищи в день, всегда держит инсулин на высоком уровне. Если долго пользоваться такой системой питания, то это приведёт к накоплению жира, даже если ты питаешься супер правильной и здоровой пищей. Дело в том, что чем чаще ты ешь тем выше инсулин, чем выше инсулин тем больше организм запасает жира - так работает наш организм, инсулин - вот главный гормон который мешает нам худеть.</p>
<p><br>Интервальное голодание позволяет  нормализовать уровень инсулина в организме, тем самым организму становится легче добывать жир, в качестве энергии, также во время голодания снижаются воспалительные процессы в организме и запускается процесс самовосстановления (клеток мозга в том числе), вырабатывается гормон роста, благодаря которому растут мышцы и ткани, усиливается жиросжигание, и синтез белков, а еще происходит омолаживание клеток</p>
<p><br>Самое главное, что периодическое голодание позволяет тебе убрать постоянные колебания уровня сахара в крови! Это очень важно! От таких скачков зависит твое эмоциональное и физическое состояние.</p>
<p><br>Когда-нибудь испытывала нервное напряжение, физическую слабость и раздражительность, когда давно не ела? Так вот, при интервальном голодании, ты будешь себя чувствовать максимально трудоспособными и бодрыми.</p>
<p><br><strong class="redactor-inline-converted">Для того, чтобы начать использовать </strong>периодическое голодание, необходимо научиться съедать все свои приемы пищи в рамках 8 часов и затем 16 часов не есть вообще, например:</p>
<p><strong class="redactor-inline-converted"><br>-  </strong>если ты позавтракала в 07:00, твой последний прием пищи не позднее 15:00<br><strong class="redactor-inline-converted">-  </strong>если ты позавтракала в 10:00, твой последний прием пищи должен быть не позднее 18:00<br><strong>- </strong>если ты позавтракала в 12:00, твой последний прием пищи должен быть не позднее 20:00</p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901033 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5487" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901034">


<style>
	#ltBlock680901034 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901034" data-block-id="680901034" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-f2fff">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="0b3467aa13248549de01db4bbe37aef5.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/0b3467aa13248549de01db4bbe37aef5.jpeg/s/f1200x/a/36490/sc/228">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5501" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901035">


<style>
	#ltBlock680901035 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901035" data-block-id="680901035" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-af075">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder4105368" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true"><p><span>Если ты хочешь снизить инсулиновую нагрузку на организм еще сильнее, попробуй вместе с периодическим голоданием перейти еще и на два приема пищи в день.</span><span></span><br></p></div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901035 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5514" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901036">


<style>
	#ltBlock680901036 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901036" data-block-id="680901036" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-219ec">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="9348f3b919faaeab275fc82d50b6dd84.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/9348f3b919faaeab275fc82d50b6dd84.jpeg/s/f1200x/a/36490/sc/300">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5529" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901037">


<style>
	#ltBlock680901037 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901037" data-block-id="680901037" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-2f94d">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder7355261" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><span>Сократи количество слимов от своей нормы на 15.Например если у тебя получилось 56 слимов, отнимаешь 15 слимов, получается 41 слим. Попробуй 3 недели продержаться на заниженном количестве слимов, это заставит твой организм брать больше энергии из жиров.</span><br></p>
<p><strong>ВАЖНО!</strong> Максимальная продолжительность питания на заниженном количестве слимов - 3 недели, а так же ниже 30 слимов опускаться нельзя!</p>
<p><br></p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901037 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5541" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901038">


<style>
	#ltBlock680901038 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901038" data-block-id="680901038" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-b5285">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="7770e57bfc65d8381a8e2352a4d418b2.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/7770e57bfc65d8381a8e2352a4d418b2.jpeg/s/f1200x/a/36490/sc/104">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5553" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901039">


<style>
	#ltBlock680901039 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901039" data-block-id="680901039" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-36930">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder5993864" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true"><p><span>Квесты Ракеты - дополнительная мини-нагрузка, которую ты будешь получать в течении недели прямо в чатах от меня.Это нагрузка вынудит твое тело еще больше тратить энергии, а значит быстрее и больше сжигать жира</span><span>.</span><br></p></div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901039 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5566" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901040">


<style>
	#ltBlock680901040 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901040" data-block-id="680901040" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-243da">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="85a146d1fc97e0d8c4bc0eb8ed699801.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/85a146d1fc97e0d8c4bc0eb8ed699801.jpeg/s/f1200x/a/36490/sc/253">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5581" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901041">


<style>
	#ltBlock680901041 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901041" data-block-id="680901041" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-f4a33">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder2315492" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><span>Босс среди форсов!Периодизация - сильнейший стимул организму, который позволяет выходить из застоя в весе ("плато" - когда вес встал и не хочет уходить), позволяет ускорять обменные процессы, не дает адаптироваться организму ни к питанию, ни к тренировкам, принцип который используют топовые фитнес спортсмены, а также олимпийские спортсмены, профессиональные бойцы смешанных единоборств. С помощью периодизацией ты шокируешь организм, заставляешь постоянно перестраиваться и не даешь привыкнуть к одному типу питания.</span><br></p>

<p><strong>Для того, чтобы использовать периодизацию,</strong> необходимо на 1 неделю полностью исключить углеводы, а затем опять перейти на LCHF. Я рекомендую использовать этот форс только после трех недель LCHF питания.</p>
</div>
</div>
<style>
	</style>			<div data-param="items/parts/field12603" data-item-name="field12603" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-image ">
	
<div id="image9385189" class="image-box" data-img-title="" data-img-src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/ebcce8a9a678bf31ab5523bce8bb49d8.jpeg/s/f1200x/a/36490/sc/439">
	<img class="lazyload" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/ebcce8a9a678bf31ab5523bce8bb49d8.jpeg/s/f1200x/a/36490/sc/439" data-param="items/parts/field12603/inner/image" data-hash="ebcce8a9a678bf31ab5523bce8bb49d8.jpeg" data-image-editable="true" title="" alt="" style="border-radius:  !important; ">
	<div data-editable="true" data-param="items/parts/field12603/inner/image/caption" class="lt-image-caption">
			</div>
</div>

</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901041 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5591" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901042">


<style>
	#ltBlock680901042 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901042" data-block-id="680901042" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-6dbe5">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="95b760a0f27dffe6398d1289beff8279.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/95b760a0f27dffe6398d1289beff8279.jpeg/s/f1200x/a/36490/sc/225">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5603" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901043">


<style>
	#ltBlock680901043 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901043" data-block-id="680901043" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-5d97e">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder4824122" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p>В конце хочу дать очень полезный инсайт.Если тебя мучает голод и ты испытываешь сильную тягу к сладкому:</p>
<p><br></p>

<p><strong class="redactor-inline-converted">1.</strong>Пей минеральную воду между приемами пищи. Электролиты в ней помогут тебе чувствовать себя лучше и снизят чувство голода.<br><strong class="redactor-inline-converted">2.</strong>Между приемами пищи выпивай 1 чашку подсоленного бульона, чтобы сбить голод и снять усталость.<br><strong class="redactor-inline-converted">3.</strong>Делай перекус в виде овощей, преимущественно зеленых. Калий, который в них содержится, снизит чувство голода и поможет урегулировать твой аппетит, особенно тягу на углеводы.<br><strong class="redactor-inline-converted">4.</strong>Ещё можно выпить в течении дня (1-2 раза в день) - 1 чайную ложку яблочного уксуса, разбавленного на 200-250 мл воды. <strong>Но, это только при том условии, что у тебя полный порядок с ЖКТ.</strong></p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901043 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5615" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901044">


<style>
	#ltBlock680901044 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901044" data-block-id="680901044" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-fbdbd">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="69d32fbaef9c12967b0867e214927877.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/69d32fbaef9c12967b0867e214927877.jpeg/s/f1200x/a/36490/sc/76">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-5619" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-comment-block" data-block-id="680901045"></div>
	</div>


<style>

	.content-row > div {
		padding: 0px;
	}

	.content-row > div {
		padding-top: 20px;
	}

	.content-row > div p, .content-row > div ol, .content-row > div ul, .content-row > div h1, .content-row > div h2, .content-row > div h3, .content-row > div h4 {
		margin-left: 20px;
	}

	.files-row > div {
		padding-top: 20px;
	}

</style>			</div>

</div>
	</div>
</div>


	</div>

			
	
<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->


<div id="w13860" class="talks-widget"></div>



























</body>
</html>
