<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
		
		
		<title>Урок №4.ДО И ПОСЛЕ! Мотивация!&amp;#9889;&amp;#65039;</title>
			


	










































































</head>
<body class="gc-user-logined">
	<div id="gcAccountUserMenu"></div>

								
					

	<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		

<div class="container">

	<div class="standard-logo">
		<a href="/" class="logo-link">
							<span class="logo-text">
					Online Fitness				</span>
					</a>
	</div>

	

	<div class="standard-page-content">
					<ul class="breadcrumb">
<li><a href="/teach/control/stream/index">Список тренингов</a></li>
</ul>				


<style>

	
    /*
	.block-set .container  {
		padding-left: 0;
		padding-right: 0;
	}
	*/

	.block-set {
		font-size: 14px;
        font-weight: normal;
		font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif;
	}
    .block-set .f-text {
        font-family: inherit;
        font-weight: inherit;
    }
    .questionary-title-wrapper {
        display: none;
    }
    .question-number {
        text-align: center;
        margin-bottom: 10px;
    }
    .testing-widget  .question .question-title-big {
        font-size: 24px;

    }
    .testing-widget .before-start-block h3 {
        display: none;
    }
    .lesson-mission-text {
        border-bottom: 1px solid #eee;
    }

	.gc-main-content.with-left-menu .container .container {
				width: 100% !important;
				margin-left: 0px;
	}
</style>
<div>
	<div class="page-header">
					<div class="page-actions" style="float: right">
				
			</div>
				<h1>
			<a href="/teach/control/stream/view/id/187244399">СТАРТ мощного "Body By Rocket"</a>			
		</h1>
	</div>
	<div class="center-block " style="max-width: 870px;margin-left: 0px; margin-bottom: 60px;width: auto;">
		<div class="lesson-header-block row-section" style="background: #FAFAFA;border-bottom: 1px solid #ddd;padding: 0px 15px;">

			<div class="row header-view">
				<div class="col-md-12 text-center" style="padding-top: 20px;">
					<h2 class="lesson-title-value">Урок №4.ДО И ПОСЛЕ! Мотивация!⚡️</h2>
					<span class="lesson-description-value">Призы, мотивация, фото.</span>
									</div>
			</div>


			

				<div class="row lesson-navigation" style="padding-top: 20px; padding-bottom: 10px; overflow: hidden; ">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="25%" class="" style="padding-left: 19px;">
																																													<a href="/pl/teach/control/lesson/view?id=145665525"><span class="fui fui-arrow-left"></span> Предыдущий урок</a>
										<div class="hidden-xs" style="font-weight: normal; font-size: 1em; line-height: 16px "> Урок №3.Форсы🔥</div>
																											</td>
							<td width="50%" class="text-center hidden-xs">
								<span>
									5 из 5 уроков								</span>
								<div class="user-state-reached">
									<div style="font-weight: normal; font-size: 1.2em" class="user-state-label">Доступен</div>
								</div>
							</td>
							<td width="25%" class="text-right" style="padding-right:17px;">
																							</td>
						</tr>
					</table>
				</div>
					</div>



					
<div class="lite-page block-set">
				<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-7631" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-mission-block" data-block-id="680901048">


<style>
	#ltBlock680901048 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901048" data-block-id="680901048" class="lt-block lt-view lmb1 lt-lesson lt-lesson-mission-block" data-code="ltBlock680901048">
	<div class="lt-block-wrapper">
	





</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-7638" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901049">


<style>
	#ltBlock680901049 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901049" data-block-id="680901049" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-6c1b3">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="9e199b11c6de62e879df48568071f652.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/9e199b11c6de62e879df48568071f652.jpeg/s/f1200x/a/36490/sc/80">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-7646" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680901050">


<style>
	#ltBlock680901050 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 45px	}

			
			</style>

<div id="ltBlock680901050" data-block-id="680901050" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-4335d">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-left" style="">
			
<div id="builder2798024" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><span>В самом начале, сделай фото "ДО" : спереди, сбоку и сзади, для того, чтобы в конце каждой недели, в субботу делать фото "ПОСЛЕ" и отслеживать свой прогресс, свою трансформацию сравнивай результат по фото - это даст тебе мощнейшую мотивацию двигаться дальше и не останавливаться. </span><br></p>

<p>Обязательно делись своими успехами в чате с другими участницами чтобы получить еще больше мотивации. А если что то не получается, если ты не видишь результат, у тебя опускаются руки - тоже пиши в чат и ты мгновенно получишь слова поддержки и пинок под пятую точку,  чтобы продолжить держать режим. Запомни!Всем требуется разное время на трансформацию - кто то быстрее худеет, кто то медленнее, но худеют все.Самое главное не останавливаться тогда ты получишь свой комический результат.</p>
<p><strong class="redactor-inline-converted"><br></strong></p>

<p><strong class="redactor-inline-converted">Розыгрыш.</strong></p>

<p>В конце марафона я попрошу тебя скину свои ФОТО ДО И ПОСЛЕ  для участия в конкурсе который пройдет на странице "Body By Rocket".</p>
<p><strong class="redactor-inline-converted"><br></strong></p>

<p><strong class="redactor-inline-converted">Розыгрыш проходит в два этапа :</strong></p>
<p><strong class="redactor-inline-converted"><br></strong></p>

<p><strong class="redactor-inline-converted">1. </strong>Я лично отбираю ТОП 10.<br><strong>2.</strong> На странице проекта проходит голосование за ТОП 3.</p>
<p><br></p>

<p>Девушки с лучшим результатом получают мою ВИП программу тренировок.</p>
<p><br></p>

<p>Участие не обязательное и ты сама принимаешь решение участвовать тебе или нет, но по опыту скажу, что участие в таком конкурсе дает очень-очень сильный стимул держать строго режим.</p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

	<style>
		#ltBlock680901050 .block-box {
			background-color:#F0F0F0;padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 30px;border: 0px solid #999999;		}
	</style>
</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-7653" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-image" data-block-id="680901051">


<style>
	#ltBlock680901051 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680901051" data-block-id="680901051" class="lt-block lt-view lessonImg01 lt-lesson lt-lesson-image" data-code="b-3bd66">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12" style="">
			<div class="image-box image-style-">
	<div data-main-class="image-wrapper" class="image-wrapper">
		<img data-main-class="lt-image-common" data-hash="69d32fbaef9c12967b0867e214927877.jpeg" data-image-editable="true" data-param="image" class="lt-image-common" src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/69d32fbaef9c12967b0867e214927877.jpeg/s/f1200x/a/36490/sc/76">
	</div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588562701" id="lite-block-live-wrapper-1588801164-8021" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-comment-block" data-block-id="680901052">


<style>
	#ltBlock680901052 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680901052" data-block-id="680901052" class="lt-block lt-view lesson-comment-block-1 lt-lesson lt-lesson-comment-block" data-code="ltBlock680901052">
	<div class="lt-block-wrapper">
	
	


<div class="container">
	<div class="row row-section">
		<div class="col-md-12">

			
							<div class="lesson-answers-title">
					<div class="pull-right" id="answers">

													<b>старые ответы</b> /
								<a href="/pl/teach/control/lesson/view?id=145665526&amp;sort=desc&amp;mode=answers#answers">новые ответы</a>
												сначала
					</div>
					<h3 style="margin-bottom: 20px;">
													Комментарии к уроку						
											</h3>
				</div>
			
								<div class="simple-answer user-answer" data-answers-list-selector=".other-answers" data-lesson-id="145665526">
		<div class="new-comment new-answer">
			<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
			<div class="answer-comment textarea-block">
				<textarea placeholder="добавить комментарий к уроку" class="new-comment-textarea emoji-textarea"></textarea>
				<button class="btn btn-primary btn-send">Отправить</button>
			</div>
		</div>
	</div>

									





<div class="other-answers answers-list">

						


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54121811" data-object-type-id="8" data-user-id="84967347" data-lesson-id="145665526" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"d039c4070d5fb40e814f23528fe3062d","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54121811","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54121811","user-id":"84967347"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54121811">test</a>
		<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/9c7b357ef6ee98674bfcc82e21668bbc.jpg/s/50x50/a/36490/sc/316"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/9c7b357ef6ee98674bfcc82e21668bbc.jpg/s/50x50/a/36490/sc/316"></div>
				<a href="/pl/84967347" data-user-id="84967347" class="user-profile-link"><span class="text">Виктория Ломова</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665526?showAnswer=54121811#answer54121811" title="Время обновления ответа 2020-05-04 07:06:29">Пн 04 Май 07:06</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="84967347">
				<div class="main" data-object-id="54121811" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							А куда скидывать фото до?						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54121811-8" id="likes-54121811-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54121811" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54121811" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54121811-8 ">
	<span class="button  " data-object-id="54121811" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54121811-8- comments-tree-live   " id="comments-36490-54121811-8--1588801164-7878" data-tree-id="comments-36490-54121811-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54121811-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"d039c4070d5fb40e814f23528fe3062d","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54121811","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54121811","user-id":"84967347"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
												                    					<div class="gc-comment gc-comment-uniq-class-1588801164-7883 comment-level  level-1 comment103935555top gc-user-comment-85534971" data-timestamp="1588570639" data-level="1" data-direction="asc">
	<div class="comment-wrapper comments-container has-quote-images-settings-container contains-uploadify">
		<div class="comment lesson-answer-comment user-related-data  " id="comment103935555" data-object-id="103935555" data-user-id="85534971" data-id="103935555">
			<div class="hide comment-user-settings-json">{"signature":"d039c4070d5fb40e814f23528fe3062d","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54121811","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54121811","user-id":"84967347"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
			<div class="hide settings">{"signature":"b71414c4abb6f699bfd59e3545effe33","accountUserId":85150871,"values":{"object_type_id":10,"object_id":103935555,"max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"","comment_class_callback":null,"data":[],"level_directions":{"1":"desc","2":"asc"},"level_show_send_button_always":{"1":true},"editable_comments":false,"show_online_user_count":true,"collapsible":false,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":false,"disable_links":false,"window_style":null}}</div>
			<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/AB.c74c3b932ff7d2be8470c4149a3c15c3.png/s/50x50/a/36490/sc/131"></div>
			<div class="title">
												<a target="_blank" href="/pl/85534971" data-user-id="85534971" class="user-profile-link"><span class="text">Инга Стейнерте</span></a>									<span class="comment-user-type"><span style="position: relative; top: 1px;" class="fa fa-graduation-cap" title="Ученик" alt="Ученик"></span></span>
																												
				<span data-id="103935555" class="pseudo-link hide comment-delete-link" data-access="admin" data-delete="0">удалить</span>
			</div>

			<div class="text">
								<div class="main" data-object-id="103935555" data-object-type-id="10" data-converter-type-id="175" data-to-review-converted="0">
					<div class="emoji-text text-content edit-comment-inactive-element">
						Я так понимаю сохранить у себя.											</div>
					<div class="edit-comment-active-element hide">
						<div style="position: relative;width: 95%;">
							<textarea class="new-comment-textarea edited-comment-text">Я так понимаю сохранить у себя.</textarea>
							<div class="edit-attach-file-button-container attach-file-button-container"></div>
						</div>
					</div>
											<div class="files ">
													</div>
									</div>
				<div class="edit-comment-active-element comment-attach-file-for-edit-link hide" style="padding-bottom: 10px;"></div>
				<div class="edit-comment-active-element hide">
					<button class="btn btn-primary save-edited-comment-btn" type="button">Сохранить</button> или <a href="javascript:void(0)" class="comment-cancel-edit-link">отменить редактирование</a>
				</div>
															<div class="comment-time edit-comment-inactive-element">
							<span class="value" style="padding-right: 5px; font-size: 0.8em;">Пн 04 Май 08:37 </span>
							<span class="word-separator"></span>
							<span class="b-like-and-subscribe-notifications">
<span class="b-like like-103935555-10" id="likes-103935555-10">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="103935555" data-object-type-id="10">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="103935555" data-object-type-id="10"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-103935555-10 ">
	<span class="button  " data-object-id="103935555" data-object-type-id="10" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>													</div>
												</div>
						<style>
				.b-like a {
					font-size: 1em;
				}
			</style>
		</div>

		<div class="comments   comments-10-103935555-0">
					</div>
					<div style="clear:both;">
							</div>
			</div>
</div>
												</div>
						
			</div>

					
	<div id="commentReplyForm-54121811-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"d039c4070d5fb40e814f23528fe3062d","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54121811","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54121811","user-id":"84967347"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
					


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54547454" data-object-type-id="8" data-user-id="86739533" data-lesson-id="145665526" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"c961dacf746e257eab98f83731fb9c23","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54547454","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54547454","user-id":"86739533"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54547454">test</a>
		<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/986822a26b6c7981be2ef5bf21fedae9.jpg/s/50x50/a/36490/sc/306"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/986822a26b6c7981be2ef5bf21fedae9.jpg/s/50x50/a/36490/sc/306"></div>
				<a href="/pl/86739533" data-user-id="86739533" class="user-profile-link"><span class="text">Тамара Тренкеншу</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665526?showAnswer=54547454#answer54547454" title="Время обновления ответа 2020-05-05 18:28:36">Вт 05 Май 18:28</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="86739533">
				<div class="main" data-object-id="54547454" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							Я тут только сегодня и пока тоже не разобралась						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54547454-8" id="likes-54547454-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54547454" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54547454" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54547454-8 ">
	<span class="button  " data-object-id="54547454" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54547454-8- comments-tree-live   " id="comments-36490-54547454-8--1588801164-7974" data-tree-id="comments-36490-54547454-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54547454-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"c961dacf746e257eab98f83731fb9c23","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54547454","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54547454","user-id":"86739533"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
															</div>
						
			</div>

					
	<div id="commentReplyForm-54547454-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"c961dacf746e257eab98f83731fb9c23","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54547454","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54547454","user-id":"86739533"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
					


	

	<div class=" has-quote-images-settings-container user-answer  lesson-related-data type-free_comment  status-new " data-id="54576653" data-object-type-id="8" data-user-id="69312570" data-lesson-id="145665526" data-lesson-name="СТАРТ мощного " body by rocket data-lesson-ugc-default-tags="">
		<div class="hide comment-user-settings-json">{"signature":"95181cb8010b2ff7d310bbf08a27be4c","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54576653","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54576653","user-id":"69312570"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</div>
		

		<a class="anchor" name="answer54576653">test</a>
		<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/84f852256588157ba56335fdf98d24b0/s/50x50/a/36490/sc/22"></div>

		<div class="answer-content ">

			
			
			<div class="title">
				<div class="user-image"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th02.getcourse.ru/fileservice/file/thumbnail/h/84f852256588157ba56335fdf98d24b0/s/50x50/a/36490/sc/22"></div>
				<a href="/pl/69312570" data-user-id="69312570" class="user-profile-link"><span class="text">Ольга Некляева</span></a>								<span class="answer-date">
				•
				<a style="white-space: nowrap" href="https://lsfteam.ru/teach/control/lesson/view/id/145665526?showAnswer=54576653#answer54576653" title="Время обновления ответа 2020-05-05 20:20:59">Вт 05 Май 20:20</a>
								</span>
			</div>

			


			<div class="answer-main-content user-related-data" data-user-id="69312570">
				<div class="main" data-object-id="54576653" data-object-type-id="8" data-converter-type-id="174" data-to-review-converted="0">
											<div class="answer-text emoji-text">
							Тоже не вижу, куда скидывать фото до						</div>
					
					

									</div>
				<span class="b-like-and-subscribe-notifications">
<span class="b-like like-54576653-8" id="likes-54576653-8">
	<span class="positive-count hide" style="cursor:pointer" data-object-id="54576653" data-object-type-id="8">
		<i class="icon fa fa-thumbs-o-up"></i>

		<span class="value"><a class="like_users_list"></a></span>
			<span class="word-separator"></span>
		</span>
		<span class="button positive  " data-object-id="54576653" data-object-type-id="8"><span class="html">Нравится</span></span>		</span>				<span class="word-separator">•</span>
		<span class="b-notifications-subscribe subscribe-54576653-8 ">
	<span class="button  " data-object-id="54576653" data-object-type-id="8" data-msg-subscribe="Подписаться" data-msg-unsubscribe="Отменить подписку">Подписаться</span>
</span>	</span>			</div>

			<div class="comments">
				<div class="comment-list">
															

<div class=" comments-tree-wrapper">
	
	<div class="comments-tree  comments-36490-54576653-8- comments-tree-live   " id="comments-36490-54576653-8--1588801164-8017" data-tree-id="comments-36490-54576653-8-" data-scroll-to-bottom="">
		<div class="comments-container">

			<div style="">
						</div>
												<div class="comments-top-level comments comments-8-54576653-0">
				<div class="hide settings settings-level-1">
					<textarea>{"signature":"95181cb8010b2ff7d310bbf08a27be4c","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54576653","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54576653","user-id":"69312570"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
				</div>

				
															</div>
						
			</div>

					
	<div id="commentReplyForm-54576653-8" class="gc-comment-form comment-form-wrapper" data-access="account" data-submit-on-enter="0">
		<div class="new-comment contains-uploadify ">
							<form data-level="1" method="post" enctype="multipart/form-data" action="/cms/comment/add">
					<div class="user-image-wrapper"><img loading="lazy" width="50" class="user-profile-image " src="//fs-th03.getcourse.ru/fileservice/file/thumbnail/h/300a830a2a96348f9aaec2cd94718c2d.JPG/s/50x50/a/36490/sc/185"></div>
										<textarea class="hide settings-value" name="GetCourseComment[settings]">{"signature":"95181cb8010b2ff7d310bbf08a27be4c","accountUserId":85150871,"values":{"object_type_id":8,"object_id":"54576653","max_level":1,"level":1,"page_size":10,"disable_comments":false,"disable_new_comment":false,"edit_mode":false,"group":null,"params":[],"comment_class":"lesson-answer-comment user-related-data ","comment_class_callback":{},"data":{"id":"54576653","user-id":"69312570"},"level_directions":{"1":"asc"},"level_show_send_button_always":{"1":false},"editable_comments":true,"show_online_user_count":false,"collapsible":true,"object_attributes":[],"level_form_submit_on_enter":{"1":false,"2":true},"own_user_id":null,"invert_own_user":false,"enable_subscribe":true,"disable_links":false,"window_style":null}}</textarea>
					<div class="textarea-block" style="position: relative">
						<textarea placeholder="добавить комментарий к ответу" class="new-comment-textarea new-comment-textarea-level-1 emoji-textarea" name="GetCourseComment[comment_text]"></textarea>

						
													<div class="attach-file-button-container"></div>
							<span class="comment-attach-file-link"></span>

													
						<button class="btn btn-primary btn-send">
														<span class="fa fa-send"></span>
														<span class="text">Отправить</span>
						</button>
																													</div>
				</form>
					</div>
	</div>

	
</div>

</div>



				</div>
			</div>
							<div>
					
					
					
							</div>
	
	</div>

	</div>
	</div>




		</div>
	</div>
</div>
</div>
</div>



</div>
	</div>


<style>

	.content-row > div {
		padding: 0px;
	}

	.content-row > div {
		padding-top: 20px;
	}

	.content-row > div p, .content-row > div ol, .content-row > div ul, .content-row > div h1, .content-row > div h2, .content-row > div h3, .content-row > div h4 {
		margin-left: 20px;
	}

	.files-row > div {
		padding-top: 20px;
	}

</style>			</div>

</div>
	</div>
</div>


	</div>

			
	
<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->


<div id="w51085" class="talks-widget"></div>







































</body>
</html>
