<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta name="google-play-app" content="app-id=com.chatium.app">
		
		
		
		<title>Суббота. Тренировка №6.</title>
			


	






































































</head>
<body class="gc-user-logined">
	<div id="gcAccountUserMenu"></div>

								
					

	<div class="gc-main-content gc-both-main-content no-menu  account-page-content with-left-menu gc-user-logined gc-user-user">
		

<div class="container">

	<div class="standard-logo">
		<a href="/" class="logo-link">
							<span class="logo-text">
					Online Fitness				</span>
					</a>
	</div>

	

	<div class="standard-page-content">
					<ul class="breadcrumb">
<li><a href="/teach/control/stream/index">Список тренингов</a></li>
<li><a href="/pl/../teach/control/stream/view?id=187244461">Убойные челленджи</a></li>
</ul>				


<style>

	
    /*
	.block-set .container  {
		padding-left: 0;
		padding-right: 0;
	}
	*/

	.block-set {
		font-size: 14px;
        font-weight: normal;
		font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif;
	}
    .block-set .f-text {
        font-family: inherit;
        font-weight: inherit;
    }
    .questionary-title-wrapper {
        display: none;
    }
    .question-number {
        text-align: center;
        margin-bottom: 10px;
    }
    .testing-widget  .question .question-title-big {
        font-size: 24px;

    }
    .testing-widget .before-start-block h3 {
        display: none;
    }
    .lesson-mission-text {
        border-bottom: 1px solid #eee;
    }

	.gc-main-content.with-left-menu .container .container {
				width: 100% !important;
				margin-left: 0px;
	}
</style>
<div>
	<div class="page-header">
					<div class="page-actions" style="float: right">
				
			</div>
				<h1>
			<a href="/teach/control/stream/view/id/187244463">Убойные комплексы 2.0</a>			
		</h1>
	</div>
	<div class="center-block " style="max-width: 870px;margin-left: 0px; margin-bottom: 60px;width: auto;">
		<div class="lesson-header-block row-section" style="background: #FAFAFA;border-bottom: 1px solid #ddd;padding: 0px 15px;">

			<div class="row header-view">
				<div class="col-md-12 text-center" style="padding-top: 20px;">
					<h2 class="lesson-title-value">Суббота. Тренировка №6.</h2>
					<span class="lesson-description-value"></span>
									</div>
			</div>


			

				<div class="row lesson-navigation" style="padding-top: 20px; padding-bottom: 10px; overflow: hidden; ">
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td width="25%" class="" style="padding-left: 19px;">
																																													<a href="/pl/teach/control/lesson/view?id=145666363"><span class="fui fui-arrow-left"></span> Предыдущий урок</a>
										<div class="hidden-xs" style="font-weight: normal; font-size: 1em; line-height: 16px "> Пятница. Тренировка №5.</div>
																											</td>
							<td width="50%" class="text-center hidden-xs">
								<span>
									6 из 20 уроков								</span>
								<div class="user-state-reached">
									<div style="font-weight: normal; font-size: 1.2em" class="user-state-label">Доступен</div>
								</div>
							</td>
							<td width="25%" class="text-right" style="padding-right:17px;">
																																														<a href="/pl/teach/control/lesson/view?id=145666365">Следующий урок <span class="fui fui-arrow-right"></span> </a>
											<div class="hidden-xs" style="font-size: 1em; line-height: 16px; font-weight: normal">Воскресенье. День отдыха от нагрузок!</div>
																											</td>
						</tr>
					</table>
				</div>
					</div>



					
<div class="lite-page block-set">
				<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0676" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-header" data-block-id="680906942">


<style>
	#ltBlock680906942 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906942" data-block-id="680906942" class="lt-block lt-view lessonHdr01 lt-lesson lt-lesson-header" data-code="b-90ed6">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12 text-left" style="">
			
<div data-main-class="header" class="header f-header f-lesson-header-1" data-editable="true" data-param="header"><p>Утреняя тренировка☀️🚀👇</p></div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0686" class="lite-block-live-wrapper o-lt-video o-lt-video-common" data-block-id="680906943">


<style>
	#ltBlock680906943 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906943" data-block-id="680906943" class="lt-block lt-view vid01 lt-video lt-video-common" data-code="b-4e894">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2" style="">
			
<div class="clearfix videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/O80Bt851bdc" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>
</div>


<style>
	.videoWrapper {
		position: relative;
		padding-bottom: 52.25%;
		padding-top: 4%;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0698" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680906944">


<style>
	#ltBlock680906944 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906944" data-block-id="680906944" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-027be">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-center" style="">
			
<div id="builder6588772" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><strong class="redactor-inline-converted"><mark class="redactor-inline-converted">Упражнение №1</mark></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>
<p><strong class="redactor-inline-converted">Особенности техники:  </strong></p>

<p><strong class="redactor-inline-converted">Ноги слегка согнуты в коленях. </strong></p>

<p><strong class="redactor-inline-converted">Спина прямая. </strong></p>

<p><strong class="redactor-inline-converted">Полностью сгибаем руки. </strong></p>
<p><strong class="redactor-inline-converted"><br></strong></p>

<p><strong class="redactor-inline-converted">Дыхание:  </strong></p>

<p><strong class="redactor-inline-converted">Вдох – наклоняемся </strong></p>

<p><strong class="redactor-inline-converted">Выдох – сгибаем руки </strong></p>

<p><strong class="redactor-inline-converted">Вдох – разгибаем руки </strong></p>
<p><strong class="redactor-inline-converted">Выдох – встаём </strong><br></p>
<p><strong class="redactor-inline-converted"><br></strong></p>
<p><strong class="redactor-inline-converted"><mark>Упражнение №2</mark></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>
<p><strong>Особенности техники:  <span> </span></strong></p>

<p><strong>Руки прямые.  </strong></p>

<p><strong>Переднюю ногу ставим на всю стопу. <br>Задняя нога стоит на носке.</strong></p>
<p><strong class="redactor-inline-converted"><br></strong></p>

<p><strong>Дыхание:  </strong></p>

<p><strong>Вдох – отводим назад левую (правую) ногу </strong></p>

<p><strong>Выдох – возвращаем ногу</strong></p>
</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-071" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-header" data-block-id="680906945">


<style>
	#ltBlock680906945 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906945" data-block-id="680906945" class="lt-block lt-view lessonHdr01 lt-lesson lt-lesson-header" data-code="b-9def9">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12 text-left" style="">
			
<div data-main-class="header" class="header f-header f-lesson-header-1" data-editable="true" data-param="header"><p>Разминка перед основной убойной тренировкой🏃🏻‍♀️⚡️👇</p></div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0724" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-video" data-block-id="680906946">


<style>
	#ltBlock680906946 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680906946" data-block-id="680906946" class="lt-block lt-view lessonVid01 lt-lesson lt-lesson-video" data-code="b-39a51">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2" style="">
			


	<div class="clearfix videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/G_wbCdTbpnw" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>	</div>


<style>
	.videoWrapper {
		position: relative;
		padding-bottom: 52.25%;
		padding-top: 4%;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-074" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-header" data-block-id="680906947">


<style>
	#ltBlock680906947 .lt-block-wrapper {
		padding-top: 45px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906947" data-block-id="680906947" class="lt-block lt-view lessonHdr01 lt-lesson lt-lesson-header" data-code="b-a83d2">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12 text-left" style="">
			
<div data-main-class="header" class="header f-header f-lesson-header-1" data-editable="true" data-param="header"><p>Основная убойная тренировка💥🤯👇</p></div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0753" class="lite-block-live-wrapper o-lt-video o-lt-video-common" data-block-id="680906948">


<style>
	#ltBlock680906948 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906948" data-block-id="680906948" class="lt-block lt-view vid01 lt-video lt-video-common" data-code="b-a057c">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2" style="">
			
<div class="clearfix videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/nL9I1cf06z8" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>
</div>


<style>
	.videoWrapper {
		position: relative;
		padding-bottom: 52.25%;
		padding-top: 4%;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0768" class="lite-block-live-wrapper o-lt-onecolumn o-lt-onecolumn-common" data-block-id="680906949">


<style>
	#ltBlock680906949 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906949" data-block-id="680906949" class="lt-block lt-view bld01 lt-onecolumn lt-onecolumn-common" data-code="b-6b7e4">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2 text-center" style="">
			
<div id="builder2295772" class="builder  animated-block" data-path="items" data-animation-order="in-turn">
	
			<div data-param="items/parts/text1" data-item-name="text1" data-title="Элемент" data-animation-mode="no" style="margin-bottom: 25px; border-radius: ; " data-setting-editable="true" class="builder-item part-text ">
	<div style="" class="text-normal f-text" data-param="items/parts/text1/inner/text" data-editable="true">
<p><strong class="redactor-inline-converted"><mark class="redactor-inline-converted">Упражнение №1</mark></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>



<p><strong class="redactor-inline-converted">Особенности техники:  </strong></p>

<p><strong class="redactor-inline-converted">Спина прямая.  </strong></p>

<p><strong class="redactor-inline-converted">Руки полностью выпрямляем и возвращаем к груди.  </strong></p>

<p><strong class="redactor-inline-converted">Становимся на полную стопу. </strong></p>
<p><strong class="redactor-inline-converted"><br></strong></p>



<p><strong class="redactor-inline-converted">Дыхание: </strong></p>

<p><strong class="redactor-inline-converted">Вдох и выдох на каждый шаг </strong></p>
<p><strong class="redactor-inline-converted"><br></strong></p>





<p><strong class="redactor-inline-converted"><mark class="redactor-inline-converted">Упражнение №2</mark></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>





<p><strong class="redactor-inline-converted">Особенности техники:  </strong></p>

<p><strong class="redactor-inline-converted">В планке контролируем положение таза (ноги и туловище должны быть в одну линию).  </strong></p>

<p><strong class="redactor-inline-converted">Руки (от плеча до локтя) должны быть строго перпендикулярны полу. Ноги прямые. </strong></p>

<p><strong class="redactor-inline-converted">Ноги вместе.</strong></p>



<p><strong class="redactor-inline-converted">Дыхание:  </strong></p>

<p><strong class="redactor-inline-converted">Вдох – возвращаемся в планку </strong></p>

<p><strong class="redactor-inline-converted">Выдох – прыгаем двумя ногами к левой (правой) руке </strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>





<p><strong class="redactor-inline-converted"><mark>Упражнение №3</mark></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>





<p><strong class="redactor-inline-converted">Особенности техники:  </strong></p>

<p><strong class="redactor-inline-converted">Руки держим над головой и не сгибаем их.  </strong></p>

<p><strong class="redactor-inline-converted">Колени не выходят за носки.  </strong></p>

<p><strong class="redactor-inline-converted">Спину держим ровно.  </strong></p>

<p><strong class="redactor-inline-converted">Пятки не отрываем от пола.  <span> </span></strong></p>

<p><strong class="redactor-inline-converted"><br></strong></p>



<p><strong class="redactor-inline-converted">Дыхание:  </strong></p>

<p><strong class="redactor-inline-converted">Вдох – приседаем </strong></p>
<p><strong class="redactor-inline-converted">Выдох – встаём </strong></p>
<p><br></p>
<p><mark><strong class="redactor-inline-converted">Упражнение №4</strong></mark><br></p>
<p><br></p>
<p><strong>Особенности техники:  </strong></p>

<p><strong>Руки (от плеча до локтя) должны быть строго перпендикулярны полу. Ноги прямые. </strong></p>
<p><strong class="redactor-inline-converted">Прожимаем ягодицу в верхней точке.</strong></p>

<p><strong>Дыхание:  </strong></p>

<p><strong>Вдох – опускаем левую (правую) ногу </strong></p>
<p><strong>Выдох – поднимаем левую (правую) ногу </strong></p>

</div>
</div>
<style>
	</style>	</div>






		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-078" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-header" data-block-id="680906950">


<style>
	#ltBlock680906950 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906950" data-block-id="680906950" class="lt-block lt-view lessonHdr01 lt-lesson lt-lesson-header" data-code="b-8f50a">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-12 text-left" style="">
			
<div data-main-class="header" class="header f-header f-lesson-header-1" data-editable="true" data-param="header"><p>Заминка после основной убойной тренировки🧘🏻‍♀️🤩👇</p></div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0791" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-text" data-block-id="680906951">


<style>
	#ltBlock680906951 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906951" data-block-id="680906951" class="lt-block lt-view lessonTxt01 lt-lesson lt-lesson-text" data-code="b-72f9b">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2" style="">
			<div data-main-class="text" class="text f-text">
	<div data-editable="true" data-param="text"><p><span class="redactor-inline-converted">Выполни 1-4 круга после тренировки (смотри по самочувствию, сколько останется сил или времени)</span></p></div>
</div>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0802" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-video" data-block-id="680906952">


<style>
	#ltBlock680906952 .lt-block-wrapper {
		padding-top: 15px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680906952" data-block-id="680906952" class="lt-block lt-view lessonVid01 lt-lesson lt-lesson-video" data-code="b-e84d3">
	<div class="lt-block-wrapper">
	
<div class="container">
	<div class="row">
		<div class="modal-block-content block-box col-md-8 col-md-offset-2" style="">
			


	<div class="clearfix videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/6u5Iynq_VjU" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>	</div>


<style>
	.videoWrapper {
		position: relative;
		padding-bottom: 52.25%;
		padding-top: 4%;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>		</div>
	</div>
</div>

</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0829" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-mission-block" data-block-id="680906953">


<style>
	#ltBlock680906953 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 0px	}

			
			</style>

<div id="ltBlock680906953" data-block-id="680906953" class="lt-block lt-view lmb1 lt-lesson lt-lesson-mission-block" data-code="ltBlock680906953">
	<div class="lt-block-wrapper">
	





</div>
</div>



</div>
			<div data-updated="1588566527" id="lite-block-live-wrapper-1588801234-0925" class="lite-block-live-wrapper o-lt-lesson o-lt-lesson-comment-block" data-block-id="680906954">


<style>
	#ltBlock680906954 .lt-block-wrapper {
		padding-top: 0px; padding-bottom: 15px	}

			
			</style>

<div id="ltBlock680906954" data-block-id="680906954" data-has-limited-visibility="true" class="lt-block lt-view lesson-comment-block-1 lt-lesson lt-lesson-comment-block" data-code="ltBlock680906954">
	<div class="lt-block-wrapper">
	
	


<div class="container">
	<div class="row row-section">
		<div class="col-md-12">

			
			
									





<div class="other-answers answers-list">

		</div>




		</div>
	</div>
</div>
</div>
</div>



</div>
	</div>


<style>

	.content-row > div {
		padding: 0px;
	}

	.content-row > div {
		padding-top: 20px;
	}

	.content-row > div p, .content-row > div ol, .content-row > div ul, .content-row > div h1, .content-row > div h2, .content-row > div h3, .content-row > div h4 {
		margin-left: 20px;
	}

	.files-row > div {
		padding-top: 20px;
	}

</style>			</div>

</div>
	</div>
</div>


	</div>

			
	
<!-- Yandex.Metrika counter -->

<noscript><div><img src="https://mc.yandex.ru/watch/56362429" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->


<div id="w11848" class="talks-widget"></div>




































</body>
</html>
